body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

header {
    background-color: #392F2F;
    width: 700px;
    right: 50px;

    
}

.n {
    background-color: #b32d00;
   
    text-align: center;
    font-size: 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 50;
}

.i {
    position: relative;
    top: -15px;
}

h1 {
    padding: 10px;
}

a {
    padding: 10px;
    padding-left: 5px;
    color: #BE1E1E;
    text-decoration: none;
    font-size: 18px;
    background-color: #501408;
    border-radius: 10px;
    border: 2px solid black;
    margin: 6px;

}

a:hover {
    font-size: 23px;
    color: white;
    transition: 0.3s linear;
    font-family: Bradley Hand, cursive;
    background-image: linear-gradient(#D46707,#FF8383 );
   
}

h1:hover {
    transform: translateX(250px);
    transition: 5s linear;
    font-family: Times, Times New Roman, serif;
    font-size: 40px;
    color: #cc99ff;
}

.nk {
    font-size: 20px;
    background-color: #800000;
    text-align: center;
}

.k:hover {
    color: #000033;
}

.k {
    padding: 0px;
}

.o {
   
    margin-left: 23%;
}
